* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{ 
    font-family: titulo;
    src: url("../assets/Fonts/winterbeauty-Script.otf");
}

body {
    width: 100vw;
    height: 100vh;
}


header nav {
    width: 100vw;
    height: 20vh; 
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "logo . . historia servicios productos contacto" ;
    background-color: blanchedalmond;
   
   
}
header nav div{
    margin: 5px;
    padding: 10px;
}

/* HEADER  */

#historia{
    grid-area: historia;
    background-color: brown;
}

#servicios{
    grid-area: servicios;
    background-color: brown;
}

#productos{
    grid-area: productos;
    background-color: brown;
}

#contactos{
    grid-area: contacto;
    background-color: brown;
}

#logo {
    grid-area: logo;
}

.estiloLogo {
    width: 80px;
    height: 80px;  
}

.botones { 
    align-self: center;
    justify-self: center;
    padding: 15px;
    border-radius: 5px;
    
}
.botones a{
    text-decoration: none;   
}

/* MAIN  */

main {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


#texto{
    width: 50vw;

}

#imagen{
    width: 50vw;
}

#imagen img{
    width: 500px;
    height: 400px;
}

/* FOOTER  */

footer {
    width: 100vw;
    height: 15vh; 
    display: flex;
    justify-content: space-around;

}

/* HISTORIA PAGE  */

#mainHistoria{
    flex-direction: column;
    

}

#mainHistoria p{
    text-align: justify;
    margin: 0 20px 0 20px;
    

}

#imgHistoria {
        width: 50vw;
        height: 80px;

}
#tituloHistoria{
    margin: 10px;
    padding: 10px;
    font-family: titulo;
    font-size: 4em;
}

@media only screen and (max-width: 1000px) { 
    main {
        flex-direction: column;
    }
    #imagen img{
        width: 425px;
        height: 325px;
    }
    
}

@media only screen and (max-width: 768px) { 
    body {
        height: 150vh;
    }
    main{
        flex-direction: column;  
        height: 120vh; 
      
       
}
   
    #imagen img{
        width: 300px;
        height: 200px;
       
}
    #tituloHistoria{
        font-size: 3em;
    }
    #mainIndex {
        height: 110vh;
        margin-top: -80px;
        }
    #mainHistoria{
        height: 110vh;
        margin-top: 10px;

}
@media only screen and (max-width: 480px) { 
    body {
        height: 150vh;
    }
    header {
        height: 20vh;
        background-color: blanchedalmond;
    }

    header nav {
        
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "logo . . historia servicios" 
                             "logo . . productos contacto";

        background-color: blanchedalmond;
    
    }
  


    #imagen img{
        width: 250px;
        height: 150px;
        margin-left: -20px;
   
    }

    #tituloHistoria{
        font-size: 2em;
    }

    #mainIndex {
        height: 110vh;
        margin-top: -80px;
    }

    #mainHistoria{
        height: 110vh;
        margin-top: 10px;
    
    }
       
    
}
}
@media only screen and (max-width: 360px) {
    body {
        height: 150vh;
    }
    #mainIndex {
        height: 110vh;
        margin-top: -100px;
    }
    #mainHistoria{
        height: 110vh;
        margin-top: 10px;

    }
}
